html {
    font-size: 16px;
}
body {
    font-family: "Noto Serif JP", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #111;
    margin: 0;
}
label, input, textarea, button {
    cursor: pointer;
}
.title {
    padding-top: 60px;
    color: #eee;
    text-align: center;
    background-image: url('/img/thumb.webp');
    background-size: cover;
    background-position: center;
}
.headline {
    text-align: center;
    font-size: 2.1rem;
    font-weight: bold;
    margin: 40px 0 10px 0;
    }
.headline-en {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    display: inline-block;
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
    width: 70%;
}
.Section {
    color: #eee;
    text-align: center;
    padding: 0 5%;
    margin-bottom: 80px;
    padding-top: 60px;
}
.section-description {
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.A {
    color: #ea2f2fff;
    height: 1.4rem;
    vertical-align: middle;
    margin-top: -4px;
}
.A-headline {
    color: #ea2f2fff;
    height: 3rem;
    vertical-align: middle;
    margin-top: -4px;
}
.A-headline-en {
    color: #ea2f2fff;
    height: 2rem;
    vertical-align: middle;
    margin-top: -4px;
}
.url-calendar {
    /* text-decoration: none; */
    color: #eee;
}
.url-calendar:hover {
    color: #ea2f2fff;
}
.calendar iframe {
    width: 80%;
    height: 600px;
}
@media screen and (max-width: 850px) {
    html {
        font-size: 13px;
    }
    .title {
        padding-top: 3px;
    }
    .headline {
        margin: 20px 0 5px 0;
    }
    .headline-en {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .section-description {
        max-width: 95%;
    }
    .calendar iframe {
        width: 95%;
        height: 400px;
    }
}
