html {
    font-size: 16px;
}
body {
    font-family: "Noto Serif JP", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #111;
    margin: 0;
}
label, input, textarea, button {
    cursor: pointer;
}
.title {
    padding-top: 60px;
    color: #eee;
    text-align: center;
    background-image: url('/img/thumb.png');
    background-size: cover;
    background-position: center;
}
.headline {
    text-align: center;
    font-size: 2.1rem;
    font-weight: bold;
    margin: 40px 0 10px 0;
    }
.headline-en {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    display: inline-block;
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
    width: 70%;
}
.Section {
    color: #eee;
    text-align: center;
    padding: 0 5%;
    margin-bottom: 80px;
}
.section-article {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.section-article.show {
    opacity: 1;
    transform: translateY(0);
}
.grid {
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grid-item{
    list-style: none;
    vertical-align: top;
}
.grid-col-3 > .grid-item {
    width: 33.3%;
}
.card {
    color: #eee;
    padding: 0 10px;
    height: 100%;
}
.card-link {
    display: block;
    height: 100%;
    color: #eee;
    text-decoration: none;
    position: relative;
    transition: background-color .2s;
    border: 1px solid #333;
}
.card-link:hover {
    color: #333;
    background-color: #eee;
}
.card-label {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333;
    color: #eee;
    display: block;
    padding: 10px 15px;
    font-size: 12px;
}
.card-image {
    width: 100%;
    height: auto;
}
.card-info {
    padding: 5px 10px 20px 10px;
}
/* .card-time {} */
.card-headline {
    margin: 0;
}
.card-description {
    margin: 0 ;
}
.section-button {
    margin-top: 40px;
    text-align: center;
}
.button {
    border: 0;
    color: #eee;
    display: inline-block;
    font-weight: bold;
    background-color: #333;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000;
    transition: box-shadow .2s;
}
.button:hover {
    color: #ea2f2fff;
    box-shadow: 0 0 0 #000;
}
@media screen and (max-width: 850px) {
    html {
        font-size: 13px;
    }
    .title {
        padding-top: 3px;
    }
    .headline {
        margin: 20px 0 5px 0;
    }
    .headline-en {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .grid {
        display: block;
        padding: 0;
    }
    .grid-col-3 > .grid-item {
          margin: 10px 0;
          width: 100%;
          height: auto;
    }
    .section-button {
        margin-top: 5px;
    }
}
